.accordion-button{
    background-color: #d22746 !important;
}

.right-float{
    float:right;
}

.font-14{
    font-size: 14px;;
}
.accordion-button::after {
    font-family: "bootstrap-icons";
    content: "\F282" !important;
    font-size: 20px;

}

// *{
//     outline: 1px solid red;;
// }